<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Productos por dueño'}) %>

<body class="body">
    <%- include('../partials/header.ejs') %>

    <% if(userTypeloged==2) { %> 
        <h2 class="titulo">Hola <%- userlogedName %>, esta es la lista de todos los productos.</h2>

        <%} else {%>

            <h2 class="titulo">Hola <%-userlogedName %>, esta es tu lista de productos.</h2>
        
       <%}%> 

    <% for(let i =0; i<productList.length;i++) { %>
        <div class="ContenedorPrincipal" >
             <div class="Contenedorproductos"><p class="ContenedorID"><%-productList[i].ProductID %></p><p class="ContenedorName"> - <%-productList[i].Name %> </p></div> 
            <div class="btneditanddelete" >
                <a href="/products/edit/<%= productList[i].ProductID %>" ><button class="btn-Editar1">Editar</button></a>
            
                <form action="/products/delete/<%= productList[i].ProductID %>?_method=DELETE" method="POST" >
                <button type="submit" class="btn-Eliminar1">Eliminar</button>
                </form>
            </div>
        </div> 
        <% } %> 
<%- include('../partials/footer.ejs') %>   
</body>

</html> 