<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Productos por dueño'}) %>

<body class="bodyp">
    <%- include('../partials/header.ejs') %>

    <% if(userTypeloged==2) { %> 
        <h2 class="titulo">Hola <%- userlogedName %>, esta es la lista de todos los productos.</h2>

        <%} else {%>

            <h2 class="titulo">Hola <%-userlogedName %>, esta es tu lista de productos.</h2>
        
       <%}%> 

    <% for(let product of productList) { %>
        <div class="ContenedorPrincipal" >            
             <div class="Contenedorproductos"> 
                 <div class="Imagenes"><img src="/images/products/<%=product.Image[0].Name%>" alt="<%=product.ProductID %>"></div>
            <p class="ContenedorID"><%-product.ProductID %></p><p class="ContenedorName"> - <%-product.Name %> </p></div> 
            <div class="btneditanddelete" >
                <a href="/products/edit/<%= product.ProductID %>" ><button class="btn-Editar1">Editar</button></a>
            
                <form action="/products/delete/<%= product.ProductID %>?_method=DELETE" method="POST" >
                <button type="submit" class="btn-Eliminar1">Eliminar</button>
                </form>
            </div>
            
        </div> 
        <% } %> 
        <%- include('../partials/footer.ejs') %>         
</body>
   

</html> 