<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('partials/head.ejs', {title: 'Inicio'}) %>

<body class="body">
    <!-- Include Header-->
    <%- include('partials/header.ejs') %>
    <!-- Include Header-->
    
    <!-- Index Page -->
    <main class="index-main">
        <section class="index-cat-ban-container">
            <section class="index-slaider-container">
                <div class="index-slider" id="index-slider">
                    <% for( let image of constants.bannerImages ) { %>
                        <div class="index-slider-section">
                            <img src="<%= image.image %>" alt="<%= image.name %>" class="index-slider-img">
                        </div>
                    <% } %>
                    
                    <div class="index-slider-btn index-slider-btn-right" id="index-btn-right">&#62;</div>
                    <div class="index-slider-btn index-slider-btn-left" id="index-btn-left">&#60;</div>
                </div>
            </section>

            <h2 class="index-h2-categories">Categorias</h2>  
            <nav class="index-categories">
                <% for( let categoria of constants.generalCategory ) { %>
                    <a href="/products/category/<%= categoria.name %>">
                        <div class="index-main-categories">
                            <i class="<%= categoria.icon %> "></i>
                            <h2><%= categoria.name %> </h2>
                        </div>
                    </a>
                <% } %>
            </nav>   
        </section>
 
        <section class="index-offers">
            <h2 class="index-h2-offers">Super Ofertas</h2>
            <% for( let producto of productList ) { %>
                <% if (producto.isOffer) { %>
                    <article class="index-div-container">
                        <a href="/products/detail/<%=producto.id%>">
                            <div class="index-div-img">
                                <img src="images/products/<%= producto.image %>" alt="<%= producto.name %>" class="index-img-offers">
                            </div>
                            <div class="index-info-offers">
                                <p class="index-price-offers">$<%= producto.price %></p>
                                <% if (producto.discount > 0) { %>
                                    <p class="index-discount-offers"><%= producto.discount %>% off</p>
                                <% } %>
                                <p class="index-description-offers"><%= producto.name %></p>
                            </div>    
                        </a>
                    </article>
                <% } %>
            <% } %>
        </section>

        <section class="index-popular-categories">
            <h2 class="index-h2-popular">Categorias Populares</h2>
            <% for( let categoria of constants.popularCategory ) { %>
                <a href="/products/category/<%= categoria.name %>">
                    <div class="index-popularicons-container">
                            <i class="<%= categoria.icon %>"></i>
                            <h2><%= categoria.name %></h2>
                    </div>
                </a>
            <% } %>
        </section>
    </main>
    <!-- Index Page -->

    <!-- Include Footer-->
    <%- include('partials/footer.ejs') %>
    <!-- Include Footer-->

    <!-- Scripts -->
    <script src="/js/index-slider.js"></script>
    <script src="/app.js"></script>
    <!-- Scripts -->
</body>
</html>