<%- include('../partials/doctype.ejs') %>

    <title>Productos</title>
</head>
<body class="body">
    
    <%- include('../partials/header.ejs') %>

    <section class="index-offers">
            <% productList.forEach(product => { %>
                <article class="index-div-container">
                    <div class="index-div-img">
                        <img src=<%= product.image %>  alt="<%= product.description %>" class="index-img-offers">
                    </div>
                    <div class="index-info-offers">
                        <p class="index-price-offers">$<%= product.price %></p>
                        <p class="index-description-offers"><%= product.description %></p>
                    </div>   
                </article>
            <% }) %> 
    </section>
    <%- include('../partials/footer.ejs') %>
</body>
</html>