<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Detalle de Producto'}) %>

<body class="body">
    <!-- Include Header-->
    <%- include('../partials/header.ejs') %>
    <!-- Include Header-->
    
    <!-- Product Detail -->
 
    <main class="productDetail-main">
        <section class="img">     
        <img src="/images/products/<%= productfound.image %> " alt="Imagen de producto de limpieza" class="img-product">   
        </section>
    
    <section class="productDetail-datos">
        <div class="productDetail-titulo"> <h2><%= productfound.name %></h2> </div>
        <div class="productDetail-descripcionbreve"> <p><%= productfound.description %></p></div>
        <div class="productDetail-precio"> 
            <p>
            <% if (productfound.discount!=0) {  %>


                <% const precioccondescuento= (productfound.price-productfound.price*(productfound.discount/100)) %> 
                <% const precio= productfound.price %> 
                <p class="normalPrice">$<%= precio %></p>
                
                <div class="priceDiscountContainer">
                    <p class="priceDiscount">$<%= precioccondescuento %> </p>               
                    <p class="discount"><%= productfound.discount %>% OFF</p> 
                 </div>
            
            <% } else {%>
                <p class="normalPriceElse">$<%= productfound.price %></p> 
            <%} %>               
               
            </p></div>
        <div class="productDetail-pago"><i class="far fa-credit-card index-icons-footer"></i><p> Medios de pago disponibles</p></div>
        <div class="productDetail-envio"><i class="fas fa-gift index-icons-footer"></i><p>Verifica el costo de tu envio</p></div>
        <div class="productDetail-stock"><p>Stock Disponible</p></div>
        <div class="contador-productDetail-botones">
        <button onclick="decrement()" class="btn-min-productDetail" >-</button>
        <input type=number id=demoInput min=0 max=110 class="contador-productDetail" placeholder="0">
        <button onclick="increment()" class="btn-max-productDetail">+</button>
        </div>
    
    
        <div class="producDetail-botones">
            <div>
                 <input type="submit" name="btn-comprar" class="btn-comprar-productdetail" value="Comprar">
            </div>
            <div>
                 <input type="submit" name="btn-carrito" class="btn-addcarrito-productdetail" value="Agregar al carrito">
            </div>
        </div>       
        </section>
    </div>

</main>

<form action="products/productCreate" method="post" class="register-productCreate-form">
    <div class="btn-Edit"><button >Editar</button></div>
    <div class="btn-delete"><button >Eliminar</button></div>

</form>

    <!-- Product Detail -->

    <!-- Include Footer-->
    <%- include('../partials/footer.ejs') %>
    <!-- Include Footer-->

    <!-- Scripts -->
    <script src="/js/productDetail-slider.js"></script>
    <!-- Scripts -->
</body>
</html>