<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Resultados de tu búsqueda'}) %>

<body class="body">
    <!-- Include Header-->
    <%- include('../partials/header.ejs') %>
    <!-- Include Header-->

    <!-- Products Results -->
    <% if (productsFilter) { %>
        <section class="index-offers">
            <h2 class="index-h2-offers">Resultado de la búsqueda: <%= busqueda %> </h2>
            <% productsFilter.forEach(product => { %>
                <article class="index-div-container">
                    <a href="/products/detail/<%=product.id%>">
                        <div class="index-div-img">
                            <img src="images/products/<%= product.image %>"  alt="<%= product.description %>" class="index-img-offers">
                        </div>
                        <div class="index-info-offers">
                            <p class="index-price-offers">$<%= product.price %></p>
                            <% if (product.discount > 0) { %>
                                <p class="index-discount-offers"><%= product.discount %>% off</p>
                            <% } %>
                            <p class="index-description-offers"><%= product.name %></p>
                        </div> 
                    </a>   
                </article>
            <% }) %> 
        </section>
    <% } else{%>
        <div class="index-offers">
            <h2 class="index-h2-offers">Resultado de la búsqueda: <%= busqueda %> </h2>
            <h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
        </div>
    <% } %> 
    <!-- Products Results -->

    <!-- Include Footer-->
    <%- include('../partials/footer.ejs') %>
    <!-- Include Footer-->

</body>
</html>