<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Productos'}) %>

<body class="body">
    <!-- Include Header With Banner-->
    <%- include('../partials/header.ejs') %>
    <!-- Include Header With Banner-->

    <!-- All Products -->
    <section class="index-offers">
        <% for( let producto of productList ) { %>
                <article class="index-div-container">
                    <a href="/products/detail/<%=producto.id%>">
                        <div class="index-div-img">
                            <img src="/images/products/<%= producto.image %>" alt="<%= producto.name %>" class="index-img-offers">
                        </div>
                        <div class="index-info-offers">
                            <p class="index-price-offers">$<%= producto.price %></p>
                            <% if (producto.discount > 0) { %>
                                <p class="index-discount-offers"><%= producto.discount %>% off</p>
                            <% } %>
                            <p class="index-description-offers"><%= producto.name %></p>
                        </div>    
                    </a>
                </article>
        <% } %>
    </section>
    <!-- All Products -->

    <!-- Include Footer-->
    <%- include('../partials/footer.ejs') %>
    <!-- Include Footer-->

</body>
</html>