<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Productos por usuario'}) %>

<body class="bodyp">
    <!-- Include Header-->
    <%- include('../partials/header.ejs') %>
    <!-- Include Header-->

    <!-- User Products -->
    <% if(userTypeLogged==2) { %> 
        <h2 class="titulo">Hola <%- userLoggedName %>, esta es la lista de todos los productos.</h2>
    <%} else {%>
        <h2 class="titulo">Hola <%-userLoggedName %>, esta es tu lista de productos. <p></p> </h2>
    <%}%> 

    <%for(let product=0; product<productList.length;product++) {  %>
        <div class="ContenedorPrincipal" >  
                      
            <div class="Contenedorproductos"> 
                <div class="Imagenes">
                    <img src="/images/products/<%=productList[product].Image[0].Name%>" alt="<%=productList[product].ProductID %>" class="imgg">
                </div>
                <p class="ContenedorName"><%-productList[product].Name %> - (ID-<%-productList[product].ProductID %>)</p>
            </div> 
            <div class="btneditanddelete" >
                <a href="/products/edit/<%=productList[product].ProductID %>" ><button class="btn-Editar1" >Editar</button></a>

                <form action="/products/delete/<%= productList[product].ProductID %>?_method=DELETE" method="POST" id='botoneliminarFORM' >
                            <button type="submit" class="btn-Eliminar1" onclick="boton()">Eliminar</button>
                </form>
            </div>
        </div> 
    <% } %>

<script type="text/javascript">
    const button =document.querySelector('.btn-Eliminar1')
     
    button.addEventListener('click', (e)=>{e.preventDefault()})
    
    let bBorrarProducto = false
    
    function boton (){
        swal({
            title: "Estas seguro/a",
            text: "Una vez que lo borres Diego se va a enojar!!!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                swal("Listo, se borro todo!!!!", {
                icon: "success",
            })
        .then(()=>{
            const form = document.querySelector('#botoneliminarFORM')
            form.submit();
        })   
        }     
            else {
                swal("Genial, no se borro nada", {
                icon: "success",
            })
            }
        });

  
 
  

}

    

    </script>
    <!-- User Products --> 
        
    <!-- Include Footer-->
    <%- include('../partials/footer.ejs') %>
    <!-- Include Footer-->  
    
    
     
        
     
    
    
           
</body>  
</html> 